{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Tableau de bord </h1>
{% endblock %}