{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration
{% endblock %}

{% block menu %}
    <ul>
        <li> <a href="{{ path('home_page') }}"> Retour vers le site </a> </li>
        <li> <a href="{{ path('admin_home_page') }}"> Accueil </a> </li>
        <li> <a href="#"> Membres </a> </li>
        <li> <a href="#"> Contrats </a> </li>
        <li> <a href="#"> Status </a> </li>
        <li> <a href="#"> Profil </a> </li>
    </ul>
{% endblock %}

{% block body %}
    <h1> Administration › Tableau de bord </h1>
{% endblock %}