<footer id="footer">
    <div class="container">
        <div id="copyright" class="row">
            <div class="col-md-8">
                <ul class="copyright">
                    <li>© Tous droits réservés. </li>
                    <li> <a href="#" data-toggle="modal" data-target="#modalMentions"> Mentions légales </a> </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="icons">
                    <li>
                        <a class="icon rounded fa-twitter sr-icons"><span class="label">Twitter</span></a>
                    </li>
                    <li>
                        <a class="icon rounded fa-linkedin sr-icons"><span class="label">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="gotop js-top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMentions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('JGFrontBundle:Front:mentions')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCookies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Cookies</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('JGFrontBundle:Front:cookies')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>