{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Membres
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Mon Compte › Membres › Ajouter un membre</h1>

    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}