{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Status
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Administration › Status › Ajout</h1>

    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-primary" />
    {{ form_end(form) }}
    </div>

    <p> <a href="{{ path('status_index') }}" class="btn btn-default">Retour à la liste des statuts</a> </p>

{% endblock %}
