{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Membres
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Membres </h1>
{% endblock %}