{{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
<div class="box-body">
    {{ form_widget(form) }}
</div>
<div class="form-group">
    <input type="submit" value="Sauvegarder" name="savePreference" id="savePreference" class="btn btn-primary" />
</div>
{{ form_end(form) }}