{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Membres
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Membres › Edition </h1>

    <div class="well">
    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-primary" />
    {{ form_end(edit_form) }}
    </div>

    <p> <a href="{{ path('user_index') }}" class="btn btn-default">Retour à la liste des membres</a> </p>

{% endblock %}
