{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Contrats
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Contrats </h1>

    {% if contracts is defined and contracts|length > 0 %}

    {% else %}
        <p> Pas de contrats. </p>
    {% endif %}

{% endblock %}