{% extends "JGFrontBundle::layout.html.twig" %}

{% block body %}
    <p>Hello World! from JGFrontBundle index</p>
    <a href="{{ path('login_page') }}">Login</a>
    <a href="{{ path('register_page') }}">Register</a>
{% endblock %}