{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Mon Compte › Tableau de bord </h1>
    <ol>
        <li> Créer vos entreprises </li>
        <li> Créer vos candidatures </li>
        <li> Créer vos entretiens </li>
        <li> Consulter vos statistiques </li>
    </ol>
{% endblock %}