<ul>
    <li> <a href="{{ path('home_page') }}"> Retour vers le site </a> </li>
    <li> <a href="{{ path('account_home_page') }}"> Tableau de bord </a> </li>
    <li> <a href="{{ path('company_index') }}"> Mes Entreprises </a> </li>
    <li> <a href="#"> Mes Candidatures </a> </li>
    <li> <a href="#"> Mes Entretiens </a> </li>
    <li> <a href="#"> Mes Statistiques </a> </li>
    <li style="display: none;"> <a href="#"> Mes Alertes (option) </a> </li>
    <li style="display: none;"> <a href="#"> Mes Préférences (option) </a> </li>
    <li> <a href="{{ path('account_profil') }}"> Profil </a> </li>
</ul>