<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <!--<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="connect" style="text-align:right;">
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Quitter l'imitation</a>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p> Connecté en tant que {{ app.user.username }}
            -
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </p>
        {% endif %}
        </div>
        <div id="header" style="padding:20px; background:#FF6347; color:#FFFFFF; text-align:center; text-transform:uppercase;">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            <div id="sidebar" style="width:20%; float:left;">{% block menu %}{% endblock %}</div>
            <div id="inner" style="width:70%; float:left;">{% block body %}{% endblock %}</div>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>