{% extends "JGFrontBundle::layout.html.twig" %}

{% block type %}page{% endblock %}

{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                &nbsp;
            </div>
        </div>
    </header>



{% endblock %}