{% extends "JGFrontBundle::layout.html.twig" %}

{% block body %}
    <h1> Home Page </h1>
    <p>Hello World! from JGFrontBundle index</p>
    <a href="#">Login</a>
    <a href="#">Register</a>
{% endblock %}