{% extends "JGFrontBundle::layout.html.twig" %}

{% block body %}
    <h1> Mentions légales </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dui sed risus imperdiet vulputate. Nunc venenatis orci vitae nisl maximus molestie. Nunc consequat dui eu tincidunt posuere. Nam ut sapien et tortor sodales hendrerit cursus gravida tellus. Duis commodo viverra quam imperdiet tincidunt. Fusce varius libero nec sem molestie, fringilla placerat elit rutrum. Vivamus rutrum varius nisl, nec commodo libero porta quis. Aliquam quis dignissim enim. Cras vel accumsan neque. Integer vitae purus sodales, pharetra ligula at, feugiat nunc. Suspendisse finibus commodo gravida. Sed pulvinar erat lectus, nec sagittis quam porttitor eu.</p>
    <p>Maecenas accumsan sem nec nunc lacinia dapibus. Nulla facilisi. Nullam id magna gravida, placerat est sed, finibus nunc. Vestibulum bibendum massa sem, sed consequat lectus blandit et. In at fringilla mauris. Integer molestie tempor suscipit. Nullam aliquam, est sit amet aliquam semper, diam diam lacinia mi, et tempus libero justo sed urna.</p>
{% endblock %}