{% extends "JGFrontBundle::layout_err.html.twig" %}

{% block type_page %}error-page{% endblock %}

{% block body %}

    <div class="banner">

        <p>
            <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
            Erreur - La page que vous demandez n'existe pas ..
        </p>

    </div>

{% endblock %}