{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Status
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Status </h1>
{% endblock %}